.footer{
    display: flex;
    width: 100%;
    height: 50px;
    position:fixed;
    bottom: 0;
    color: #000;
    align-items: flex-end;
}
.footer .footer-background{
    position: absolute;
    width: 100%;
    inset: 0;
    background-color: rgb(131, 136, 134);
    opacity: .5;
    z-index: -1;
}
.footer span{
    opacity:1;
}
.footer span .author{
    font-size: 1.2em;
    font-weight: 600;
}

.footer span a:hover{
    text-decoration: none;
    color: var(--altColor);
}
.footer span a{
    font-style: italic;
    font-size: .8em;
    color: var(--mainColor);
}
.footer span i{
    font-size: 2.5em;
}
@media (max-width: 576px) {
    .footer-background{
        margin-top: 15px;
    }
}
